*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins";
  background-color: #134611;
}

.logo{
  color: #96F072;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #FEFCFB;
  text-decoration: none ;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
  cursor: pointer ;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:#FEFCFB;
  margin: 5px;
  transition: all 0.3s ease;

}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }

}


@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #134611;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  /* .nav-links li{
    opacity: 0;

  } */
  .burger{
    display: block;
  }
 
}
.nav-active{
  transform: translateX(0%);
}


@keyframes navlinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

p{
  color:#999 ;
  line-height: 25px;
}
h2,h3{
   color: #fff;
}
h2{
  font-size: 18px;
}
.footer-top{
  background: #134611;
  padding: 80px 0;
}
.segment-one h3 {
  font-family: courgette;
  color:#96E072;
  letter-spacing: 3px;
  margin: 10px 0;
}
.segment-two h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-two h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li{
border-bottom: 1px solid rgba(255, 255, 255,0.3);
line-height: 40px;
}
.segment-two ul li a{
  color: #999;
  text-decoration: none;
}
.segment-three h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-three h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-three a{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.segment-three a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;

}
.segment-four h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-four h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-four form input[type=submit]{
  background: #3DA35D;
  border: none;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
}
.footer-bottom-text{
  text-align: center;
  background: #134611;
  line-height: 75px;
}

@media only screen and (min-width:768px) and (max-width: 991px){
  .md-mb-30{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px){
  .sm-mb-30{
    margin-bottom: 30px;
  }
  .footer-top{
    padding: 50px 0;
  }
}*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins";
  background-color: #134611;
}

.logo{
  color: #96F072;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links li>a:hover {
  box-shadow: 0 0 40px black;
  color:#96F072;
  text-decoration: none;
}
.nav-links a{
  color: #FEFCFB;
  text-decoration: none ;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
  cursor: pointer ;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:#FEFCFB;
  margin: 5px;
  transition: all 0.3s ease;

}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }

}


@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #134611;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  /* .nav-links li{
    opacity: 0;

  } */
  .burger{
    display: block;
  }
 
}
.nav-active{
  transform: translateX(0%);
}


@keyframes navlinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

p{
  color:#999 ;
  line-height: 25px;
}
h2,h3{
   color: #fff;
}
h2{
  font-size: 18px;
}

#portfolio{
  background-color: white;
}
.fit-image{
  height: 100%;
  width: 100%;
}
.title{
  font-size: 24px;
  margin: 20px;
  padding-top: 10px;
  color: #494848;
}
.section-padding{
  padding-top :10%;;
}
#my-grid{
  margin-top: 50px;
}
/* .grid-padding{
  padding: 0 8px;
} */
.grid-padding img{
  margin-bottom: 15px;
  transition: 0.5s ease;
}
.grid-padding img:hover{
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.9);
 
  transition: 0.5s ease;
}
.col-sm-4 img{
  padding-right: 10px;
}
.modal{
  display:none;
  position:fixed ; 
  z-index: 1;
  padding: 5px 0;
  left:0 ;
  top: 0;
  width: 100%;
  height:100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.8);
}
.modal-content{
  position: relative;
  margin: auto;
  padding: 0;
  width: 85%;
  max-width: 1200px;
  border: none;
  background-color: transparent !important;
}
.my-slides{
  text-align: center;
}

.portrait-image{
  height: 88vh;
}
.landscape-image{
  width: 35vw;
}

.close{
  color: yellow;
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 48px;
  font-weight: bold;
  transition: 0.3s ease;
}
.close:hover, .close:focus{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white !important;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover, .prev:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext{
  color: grey;
  font-size: 18px;
  font-family: "Poppins";
  padding: 8px 50px;
  position: absolute;
  top: 0;
  left: 10px;
}
.decorate{
  font-family: "Poppins";
}



.footer-top{
  background: #134611;
  padding: 80px 0;
}
.segment-one h3 {
  font-family: courgette;
  color:#96E072;
  letter-spacing: 3px;
  margin: 10px 0;
}
.segment-two h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-two h2:before{
  content: '|';
  color:#96e072 ;
  padding-right: 10px;
}
.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li{
border-bottom: 1px solid rgba(255, 255, 255,0.3);
line-height: 40px;
}
.segment-two ul li a{
  color: #999;
  text-decoration: none;
}
.segment-three h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-three h2:before{
  content: '|';
  color: #96e072;
  padding-right: 10px;
}
.segment-three a{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.segment-three a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;

}
.segment-four h2{
  color: #fff;
  font-family: "Poppins";
  text-transform: uppercase;
}
.segment-four h2:before{
  content: '|';
  color: #96e072;
  padding-right: 10px;
}
.segment-four form input[type=submit]{
  background: #3DA35D;
  border: none;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
}
.footer-bottom-text{
  text-align: center;
  background: #134611;
  line-height: 75px;
}

.footerh{
  font-size: 18px;
}


@media only screen and (min-width:768px) and (max-width: 991px){
  .md-mb-30{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px){
  .sm-mb-30{
    margin-bottom: 30px;
  }
  .footer-top{
    padding: 50px 0;
  }
}


.vtabs{
  max-width: 800px;
  padding: -50%;
  margin: 50px auto; 
  text-align: center;
  position: relative

  
}
.vtabs input{display:none}
.vtabs label{
  display: block;
  width: 20%;
  padding: 15px;
  color: #a2a2a2;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  border-left: 5px solid #dcdcdc ;
  transition: .3s ease
}
.vtabs label:hover{
  cursor: pointer;
  color:#404040
}
.vtabs input:checked + label{
  color:#404040;
  border-left: 5px solid #00c4ff;
}
.vtabs #tab1:checked ~ .vtab-content #content1,
.vtabs #tab2:checked ~ .vtab-content #content2,
.vtabs #tab3:checked ~ .vtab-content #content3,
.vtabs #tab4:checked ~ .vtab-content #content4,
.vtabs #tab5:checked ~ .vtab-content #content5
/* .vtabs #tab6:checked ~ .vtab-content #content6,
.vtabs #tab7:checked ~ .vtab-content #content7,
.vtabs #tab8:checked ~ .vtab-content #content8*/{ 
  display:block
}
.vtabs .vtab-content{
  position:absolute;
  top: 0;
  max-width:65%;
  right: 20px

}
.vtabs .vtab content div{
  display: none
}
.vtabs img{
  max-width:550px;
  width :100%;
  border-radius: 15px
}
#content1{
  display: none;
  

}
#content2{
  display: none;
}
#content3{
  display: none;

}
#content4{
  display: none;

}
#content5{
  display: none;

}
/* #content6{
  display: none;
}
#content7{
  display: none;
}
#content8{
  display: none;
} */


h5{
  text-align: center;
  font-weight: 800;
  font-style: oblique;
  font-display: bold;
}
h2{
  font-size: 35px;
  font-display: bold;
}